.App {
  text-align: center;
}

/* section {
  border: 10px solid grey;
  height: 90vh;

  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  border: 10px solid grey;
  width: 100%;
  max-width: 700px;
  margin: auto;

  height: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;
} */

section {
  height: 90vh;

  position: relative;
}

.container {
  /* border: 10px solid grey; */
  /* background-color: #3A846F; */
  background-color: #3d7359;
  color: #fff;
  width: 100%;
  max-width: 700px;

  height: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;

  position: absolute;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  margin: auto;

}

.logo-image {
  width: 20%;
}

.form-input {
  border: none;
  border-radius: 1px;
  margin: 1px;
}

.form-submit {
  /* background-color: #f7c34e; */
  color: #fff;
  cursor: pointer;
  border: none;
  margin: 5px;
  /* padding: 0, 15px; */
  width: 75px;
  font-family: "montserrat", sans-serif;
  text-transform: uppercase;
  border-radius: 1px;
  background-image: linear-gradient(to left,#FFC312, #EE5A24);
}

.form-submit:hover {
  background-position: right;
}