.App {
  text-align: center;
}

/* section {
  border: 10px solid grey;
  height: 90vh;

  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  border: 10px solid grey;
  width: 100%;
  max-width: 700px;
  margin: auto;

  height: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;
} */

.login {
  background-color: #f7c34e;
  margin-bottom: -10%;
}

section {
  height: 100vh;
  position: relative;
  
}

.container {
  /* border: 10px solid grey; */
  /* background-color: #3A846F; */
  background-color: #3d7359;
  color: #fff;
  width: 100%;
  max-width: 700px;

  height: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;

  position: absolute;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  border-radius: 5px;
  
}

.credentials {
  color: #fff;
}

.logo-image {
  width: 20%;
  animation-name: moveInLeft;
  animation-duration: 1s;
  animation-timing-function: ease-out;
}

@keyframes moveInLeft {
  0% {
      opacity: 0;
      transform: translateX(-100px);
  }
  80% {
      transform: translateX(5px);
  }
  100% {
      opacity: 1;
      transform: translate(0);
  }
}

.form-input {
  border: none;
  border-radius: 1px;
  margin: 1px;
  animation: moveInRight 1s ease-out;
  box-shadow: 0 5px 10px rgba(0,0,0,.2);
  margin-left: 20%;
}

@keyframes moveInRight {
  0% {
      opacity: 0;
      transform: translateX(100px);
  }
  80% {
      transform: translateX(-5px);
  }
  100% {
      opacity: 1;
      transform: translate(0);
  }
}

.form-submit {
  /* background-color: #f7c34e; */
  color: #fff;
  cursor: pointer;
  border: none;
  margin: 5px;
  /* padding: 0, 15px; */
  width: 75px;
  font-family: "montserrat", sans-serif;
  text-transform: uppercase;
  border-radius: 1px;
  background-image: linear-gradient(to left,#FFC312, #EE5A24);
  animation: moveInRight 1s ease-out;
  box-shadow: 0 5px 10px rgba(0,0,0,.2);
  margin-left: 40%;
}

.form-submit:hover {
  padding: 2px;
  box-shadow: 0 5px 10px rgba(0,0,0,.2);
  border-radius: 3px
}