
.order {
    background: #fff;
  }
  
  
  .logo-order {
    width: 20%;
    animation-name: moveInTop;
    animation-duration: 1s;
    animation-timing-function: ease-out;
    margin-top: 5%;
  }
  
  @keyframes moveInTop {
    0% {
        opacity: 0;
        transform: translateY(-100px);
    }
    80% {
        transform: translateY(5px);
    }
    100% {
        opacity: 1;
        transform: translate(0);
    }
  }
  
  #order h1 {
      color: #EE5A24;
  }

  .product-list {
    /* -webkit-font-smoothing: subpixel-antialiased; */
    /* display: block; */
    /* clear: both; */
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    /* background-color: #09161d; */
  }

  .product-card {
    position: relative;
      width: 320px;
      height: 420px;
      background: #fff;
      border-radius: 20px;
    
      margin: 5%;
  }

  .card {
      position: relative;
      width: 320px;
      height: 420px;
      background: #fff;
      border-radius: 20px;
      overflow: hidden;
      margin: 5%;
  }

  .card::before {
      content: '';
      position: absolute;
      top: -40%;
      width: 200%;
      margin-left: -200px;
      height: 100%;
      background: rgb(238, 90, 36);
      transform: skewY(345deg);
      transition: 2s;
  }

  .card:hover::before {
      top: -70%;
      transform: skewY(390deg);
  }

  .card::after {
      content: 'MOR';
      position: absolute;
      bottom: 0;
      right: 0;
      font-weight: 600;
      font-size: 8vh;
      color: rgba(0, 0, 0, 0.05);
  }

  .card .imgBx {
    /* width: .5%; */
      position: relative;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      
  }

  #kegs {
      margin-left: -50%;
    width: 250%;
  }